.main {
    margin-top: 100px;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    line-height: 24px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn-search {
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: #dfe1e5;
    font-size: 15px;
}

.btn-lucky {
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: #dfe1e5;
    font-size: 15px;
}